.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
demo_eclipse/bin/*

demo_eclipse/gen/cn/beecloud/sdk_demo/BuildConfig.java
demo_eclipse/gen/cn/beecloud/sdk_demo/R.java
*.zip
*.apk
*.keystore
